<h1>Restaurants</h1>

<ul>
<% @restaurants.each do |restaurant| %>
  <li>
    <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
    <p><strong>Address: </strong><%= restaurant.address %></p>
    <p><strong>Phone Number: </strong><%= restaurant.phone_number %></p>
    <p><strong>Category: </strong><%= restaurant.category %></p>
  </li>
<% end %>
</ul>

<%= link_to 'Insert a new Restaurant', new_restaurant_path  %>
