<h1><%= @restaurant.name %></h1>
<h4>Location: <%= @restaurant.address %></h4>
<h4>Phone number: <%= @restaurant.phone_number %></h4>
<h4>Category: <%= @restaurant.category %></h4>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> | <%= '⭐️' * review.rating%></li>
  <% end %>
</ul>

<%= link_to 'Back', restaurants_path %> | <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> | <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
